default: &default
  adapter: postgresql
  encoding: utf8
  reconnect: false
  pool: 5
  username: admin
  password: admin
  host: localhost

development:
  <<: *default
  database: prepdd_development

production: &production
  adapter: postgresql
  url: <%= ENV['DATABASE_URL'] %>

test:
  <<: *production
