<!DOCTYPE html>
<html>
  <head>
    <title>Prepdd</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application_pack' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
